@keyframes brazen-fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#restore-settings.bv-input {
    margin-bottom: 1rem
}

#settings-wrapper {
    bottom: 5vh;
    overflow: auto;
    resize: horizontal;
    top: 5vh;
    z-index: 1001
}

.show-settings.bv-section {
    top: 5vh;
    box-shadow: 0 0 20px white;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid white
}

.bv-actions {
    display: inline-flex;
    justify-content: center;
    padding: 0 0.25rem;
    text-align: center
}

.bv-actions .bv-button {
    width: auto
}

.bv-bg-colour {
    background-color: #4f535b
}

.bv-border-primary {
    border: 1px solid black
}

.bv-break {
    margin: 0.5rem 0
}

.bv-button {
    background-color: revert;
    padding: 0.5rem 1rem;
    width: 100%
}

.bv-flex-column {
    flex-direction: column
}

.bv-font-primary {
    color: white
}

.bv-font-secondary {
    color: black
}

.bv-group {
    align-items: center;
    display: flex;
    min-height: 20px
}

.bv-group + .bv-group {
    margin-top: 1rem
}

.bv-group.bv-range-group, .bv-group.bv-text-group {
    align-items: center
}

.bv-group.bv-range-group > input {
    width: 75px
}

.bv-group.bv-range-group > input + input {
    margin-left: 5px
}

.bv-group.bv-textarea-group {
    align-items: start;
    flex-direction: column;
    overflow: hidden
}

.bv-group.bv-textarea-group > textarea.bv-input {
    margin-top: 0.5rem;
    resize: vertical;
    width: 100%
}

input.bv-input, select.bv-input, textarea.bv-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem
}

.bv-input.bv-checkbox-radio {
    margin-right: 5px;
    scale: 2
}

.bv-input.bv-text {
    width: 100%
}

.bv-label {
    flex-grow: 1;
    text-align: start
}

.bv-label.bv-text + .bv-input.bv-text {
    width: 40%
}

.bv-section {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    font-size: 1rem;
    font-weight: normal;
    left: 0;
    padding: 1rem;
    position: fixed;
    z-index: 1000
}

.bv-section > div + div {
    margin-top: 1rem
}

.bv-section hr {
    border: 1px solid white;
    margin: 1rem 0
}

.bv-section button + button {
    margin-left: 0.25rem
}

.bv-section .bv-title {
    display: block;
    height: 20px;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%
}

.bv-show-settings {
    border: 0;
    font-size: 0.7rem;
    height: 90vh;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 5vh;
    width: 0.2vw;
    writing-mode: sideways-lr;
    z-index: 999
}

.bv-show-settings .bv-title {
    display: block;
    height: 20px;
    width: 100%
}

.bv-tab-button {
    background-color: inherit;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 0.75rem;
    transition: 0.3s
}

.bv-tab-button.bv-active, .bv-tab-button:hover {
    color: black;
    background-color: white
}

.bv-tab-panel {
    animation: brazen-fade 1s;
    display: none;
    flex-direction: column;
    padding: 1rem
}

.bv-tab-panel.bv-active {
    display: flex
}

.bv-tabs-nav {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden
}